---
import Image from '~/components/common/Image.astro';
import Button from '~/components/ui/Button.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Headline from '~/components/ui/Headline.astro';
import type { Widget, CallToAction } from '~/types';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  actions?: string | CallToAction[];
  image?: string | unknown;
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6">
    <Headline title={title} subtitle={subtitle} tagline={tagline} classes={classes?.headline as Record<string, string>} />
    
    <div class="max-w-5xl mx-auto text-center">
      {
        actions && (
          <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4 mt-6">
            {Array.isArray(actions) ? (
              actions.map((action) => (
                <div class="flex w-full sm:w-auto">
                  <Button {...(action || {})} class="w-full sm:mb-0" />
                </div>
              ))
            ) : (
              <Fragment set:html={actions} />
            )}
          </div>
        )
      }
      {content && <div class="mt-8 text-xl text-muted dark:text-slate-300" set:html={content} />}
      
      {
        image && (
          <div class="mt-10">
            <div class="relative m-auto max-w-5xl group">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto rounded-2xl bg-gray-500 border-8 border-white dark:border-slate-400 shadow-[0_4px_28px_rgba(0,0,0,0.20)] w-full transition-transform duration-500 ease-in-out group-hover:scale-105"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="lazy"
                  layout="constrained"
                  {...image}
                />
              )}
            </div>
          </div>
        )
      }
    </div>
  </div>
</WidgetWrapper>
