---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';

const {
  name,
  position,
  role,
  education,
  experience,
  trajectory,
  image,
  isReversed = false,
  // isAfterContent = false,
  id,
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper
  id={id}
  containerClass={`max-w-7xl mx-auto`}
  bg={bg}
>
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <div class="mb-8">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-1">{name}</h3>
      <p class="text-secondary font-medium mb-6">{position}</p>
    </div>

    <div class={`md:flex ${isReversed ? 'md:flex-row-reverse' : 'md:flex-row'} md:gap-8 mb-8`}>
      <!-- Imagen -->
      <div class="mb-6 md:mb-0 md:flex-[2] lg:min-w-[480px] md:flex-shrink-0">
        {
          image && (
            <Image
              class="w-full rounded-2xl border-8 border-white dark:border-slate-400 shadow-[0_4px_28px_rgba(0,0,0,0.20)]"
              width={600}
              height={600}
              {...image}
            />
          )
        }
      </div>

      <!-- Contenido -->
      <div class="md:flex-[3]">
        {
          education && (
            <div class="mb-1">
              <p class="text-muted dark:text-slate-400" set:html={education} />
            </div>
          )
        }

        {
          experience && (
            <div class="mb-6">
              <h4 class="text-lg font-semibold text-primary mb-2 flex items-center gap-2">
                <span class="inline-flex w-7 h-7 rounded-full bg-green-600 dark:bg-green-700 text-white items-center justify-center text-sm">
                  ✓
                </span>
                Experiencia:
              </h4>
              <p class="text-muted dark:text-slate-400 ml-9" set:html={experience} />
            </div>
          )
        }

        {
          trajectory && (
            <div class="mb-6">
              <h4 class="text-lg font-semibold text-primary mb-2 flex items-center gap-2">
                <span class="inline-flex w-7 h-7 rounded-full bg-green-600 dark:bg-green-700 text-white items-center justify-center text-sm">
                  ✓
                </span>
                Trayectoria:
              </h4>
              <p class="text-muted dark:text-slate-400 ml-9" set:html={trajectory} />
            </div>
          )
        }
      </div>
    </div>

    <!-- CallToAction debajo de todo -->
    {
      role && (
        <div class="bg-gradient-to-r from-primary to-green-700 dark:from-primary dark:to-green-800 rounded-lg p-6 md:p-8 text-white shadow-lg">
          {/* <h4 class="text-lg md:text-xl font-semibold mb-3">Responsabilidades</h4> */}
          <p class="text-base leading-relaxed" set:html={role} />
        </div>
      )
    }
  </div>
</WidgetWrapper>
